#why .container {
  text-align: center;
  padding: 0 25rem;
}

#why .container > h1 {
  font-size: 1rem;
  margin-top: 5rem;
}

#why .container .slide {
  height: 13rem;
  overflow: hidden;
}

#why .container .slide div h2 {
  margin: 0rem;
  font-size: 2.5rem;
  padding: 0.5rem;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }
  7% {
    transform: translateY(-17%);
  }
  33% {
    transform: translateY(-17%);
  }
  40% {
    transform: translateY(-34%);
  }
  66% {
    transform: translateY(-34%);
  }
  73% {
    transform: translateY(-51%);
  }
  100% {
    transform: translateY(-51%);
  }
}

#why .container .slide div {
  animation: slide 5s infinite;
}
