/* .text h1 {
  text-align: center;
} */

#curriculum {
  /* display: none; */
  padding: 5rem 0;
  background-color: rgb(251, 243, 252);
}

#curriculum .picture-text-box {
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
  gap: 1rem;
  margin: 5rem 0;
}

#curriculum .picture-text-box .square-box {
  display: flex;
  flex: 1;
  /* border: 1px solid red; */
  min-width: 25rem;

  gap: 1rem;
}

#curriculum .picture-text-box .square-box .box {
  flex: 1;
  background-color: rgb(84, 182, 122);
  border-radius: 2rem;
  overflow: hidden;
  /* max-width: 17.5rem; */
}

#curriculum .picture-text-box .square-box .square {
  /* border: 1px solid blue; */
  flex: 1;
  position: relative;
}
#curriculum .picture-text-box .square-box .square::after {
  display: block;
  content: "";
  padding-bottom: 100%;
}
#curriculum .picture-text-box .square-box .square div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#curriculum .title-box {
}

#curriculum .picture-text-box .square-box p {
  text-align: center;
  font-size: 1.3rem;
  background-color: white;
  margin: 0;
  padding: 3.5rem 0;
  font-weight: 900;
  color: rgba(0, 0, 0, 0.596);
}
