@media only screen and (max-width: 1000px) {
  #root {
    background-color: #bbb;
  }
}

@media only screen and (max-width: 900px) {
  #root {
    background-color: #999;
  }
}

@media only screen and (max-width: 800px) {
  #root {
    background-color: #777;
  }
  .circle {
    width: 200px;
    height: 200px;
  }
  .keyframe div {
    animation: 0.5s ease infinite rotate1;
  }
}
